*{
    margin: 0;
    padding: 0;
  }
  
  .body{
    background-color: black;
  }
  
      .navbar{
              padding: 15px;
              border-bottom: 3px solid goldenrod;
          }
      
          .logo{
              color: goldenrod;
              font-weight: bold;
              font-size: 50px;
              text-decoration: none;
              margin-top: 2%;
              margin-right: 5%;
          }
      
          .logo:hover{
              color: goldenrod;
              font-weight: bold;
              font-size: 50px;
              text-decoration: none;
          }
     
      .nav-link{
              color: white;
              font-size: 18px;
              font-style: italic;
              font-weight: bold;
          }
      
          .nav-link:hover{
              color: white;
              border-bottom: 2px solid goldenrod;
              font-size: 22px;
              font-weight: bold;
          }
      
          .navbarabc{
              background-color: rgb(95, 3, 3);
              padding: 7px;
              padding-left: 30px;
          }
  
          @media only screen and (max-width: 990px){
          #logoO{
          margin-left: 0px;
          }
          }
  
         #row{
          margin-top: 5%;
         }
         img{
          width:80%;
          height:80%;
          margin-left:5%;
         }
         .btn{
          margin-top: 5%;
         }
  
         h1{
          color: goldenrod;
         }
  
         h4{
          color: goldenrod;
         }
  
         p{
          color: white;
          font-size:16px;
          font-style: oblique;
         }
  
         .btn-dark{
          background-color: rgb(95, 3, 3);
          border: 1px solid goldenrod;
          color: white;
         }
  
         /* custom style */
         div{
    text-align:center;
    
  }
  .cart-counter{
    display:inline-block;
    width:25px;
    opacity:0;
    height:30px;
    background: goldenrod;
    text-align:center;
    border-radius:50%;
    margin-left:10px;
    
  }
  
  .footer{
        background-color: rgb(95, 3, 3,0.3);
      }
  
      #icons{
        color: white;
        font-size: 35px;
      }
  
    .bi-facebook:hover{
        color: goldenrod;
        font-size: 30px;
      }
    
    .bi-twitter:hover{
        color: goldenrod;
        font-size: 30px;
    }
    .bi-instagram:hover{
        color: goldenrod;
        font-size: 30px;
    }
  
    .bi-youtube:hover{
        color: goldenrod;
        font-size: 30px;
    }
  
    .bi-google:hover{
        color: goldenrod;
        font-size: 30px;
    }
  
    #ex-link{
      text-align: center;
    }
  
    #www{
      padding-top: 2%;
      text-align: center;
    }
  
    #fpp{
      color: goldenrod;
    }
  
    a{
      text-decoration-line: none;
    }
  
    .ulul .li{
        list-style-type: none;
      }
  
      #li{
        color: white;
      }
  
      #li:hover{
        color: white;
        border-bottom: 2px solid goldenrod;
      }
  
      .ulul{
        color: white;
      }
  
      .ulul :hover{
        color: white;
        font-size: 19px;
      }
  
      .h2h2{
        color: white;
        font-weight: bold;
      }
  
      .ppp{
        color: white;
      }
  
      h4{
        color: goldenrod;
      }
  
      .links{
          color: white;
      }
  
      .cartbbb{
        color: white;
      }
  
      @media only screen and (max-width: 320px){
  
  #www{
      display: none;
   }
     
   }
  
   .ululul{
  
  list-style-type: none;
  float: left;
  padding-left: 20px;
  -webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite
  }
  .ululul:hover{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused
  }
  
  .lilili{
  line-height: 25px;
  }
  
  #all_news{
  
  background: rgb(218, 165, 32, 0.5);
  width: 15%;
  height: 32px;
  margin: 40px auto 0;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  position: relative;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5)
  }
  
  #all_news a{
  color: #fff;text-decoration: none;font-size: 13px
  }
  @-webkit-keyframes ticker{
  0%{margin-top: 0}25%{margin-top: -26px}50%{margin-top: -52px}
  75%{margin-top: -78px}100%{margin-top: 0}
  }
  @-moz-keyframes ticker{0%{margin-top: 0}25%{margin-top: -26px}
  50%{margin-top: -52px}75%{margin-top: -78px}100%{margin-top: 0}
  }
  @-ms-keyframes ticker{0%{margin-top: 0}
  25%{margin-top: -26px}50%{margin-top: -52px}75%{margin-top: -78px}100%{margin-top: 0}
  }
  @keyframes ticker{0%{margin-top: 0}25%{margin-top: -26px}
  50%{margin-top: -52px}75%{margin-top: -78px}100%{margin-top: 0}
  }